body {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 100%;
    grid-template-areas: "header main";
    background-color: #A4E4F4;
}

main {
    grid-row-start: 1;
    grid-column-start: 2;
    grid-row-end: 2;
    grid-column-end: 3;
}


header {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-column-end: 2;
}