
form{
    margin-top: 50px;
    border: 5px dashed #FEF7CB;
    border-radius: 22px;
    width: 70%;
    background-color: #ACDFE6;
    height: 380px;
    padding-left:60px;
    padding-right:60px;
    padding-top:30px;
    position: relative;
}
form input[type=password]{
    background-color: #FFFFFA;
    font-weight: 600;
}
/* các label input trong form group */
.form-group{
    margin-bottom: 22px;
}
.form-group input{
    width: 88%;
}

form label{
    margin-bottom: 6px;
    color:cornflowerblue;
    font-weight: 700;
}
#main{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* khu vực đặt nút change*/ 
.change{
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right:16px;
    margin-bottom: 18px;
}
.button-change{
    font-size: 22px;
    font-weight: 600;
    background-color: #6FBFF1;
    color: aliceblue;
    border: none;
    border-radius: 9px;
}
.button-change:hover{
    border: 4px solid aquamarine;
  
}
.nav-link.active {
    color: coral;
  }
.btn:hover{
    border: 4px solid aquamarine;
}