<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/AdminViewLibrarian.css">
    <title>Admin view Librarian</title>

</head>

<body>
    <div id="main">
        <form class="form-search">
            <div class="select-type">
                <select id="type">
                    <option value="A->Z">A->Z</option>
                    <option value="Z->A">Z->A</option>
                </select>
            </div>
            <input type="text" placeholder="Search by name" name="search">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
        <div class="add-librarian">
            <a href=""> New librarian</a>
        </div>
        <div class="table-heading">
            <div class="table-data">Libraian ID</div>
            <div class="table-data">First Name</div>
            <div class="table-data">Last Name</div>
            <div class="table-data">Phone </div>
            <div class="table-data">Email</div>
            <div class="table-data">Gender</div>
            <div class="table-data">Department</div>
            <div class="table-data">Create Date</div>
        </div>
        <div class="table-row">
            <div class="table-data"><a href="">T0001</a></div>
            <div class="table-data">Nguyen Quoc</div>
            <div class="table-data">Phat</div>
            <div class="table-data">00032163716</div>
            <div class="table-data">ngh@gmail.com</div>
            <div class="table-data">Male</div>
            <div class="table-data">A</div>
            <div class="table-data">23-3-2022</div>
        </div>
        <div class="table-row">
            <div class="table-data"><a href="">T0001</a></div>
            <div class="table-data">Nguyen Quoc</div>
            <div class="table-data">Phat</div>
            <div class="table-data">00032163716</div>
            <div class="table-data">ngh@gmail.com</div>
            <div class="table-data">Male</div>
            <div class="table-data">A</div>
            <div class="table-data">23-3-2022</div>
        </div>
        <div class="table-row">
            <div class="table-data"><a href="">T0001</a></div>
            <div class="table-data">Nguyen Quoc</div>
            <div class="table-data">Phat</div>
            <div class="table-data">00032163716</div>
            <div class="table-data">ngh@gmail.com</div>
            <div class="table-data">Male</div>
            <div class="table-data">A</div>
            <div class="table-data">23-3-2022</div>
        </div>
        <div class="table-row">
            <div class="table-data"><a href="">T0001</a></div>
            <div class="table-data">Nguyen Quoc</div>
            <div class="table-data">Phat</div>
            <div class="table-data">00032163716</div>
            <div class="table-data">ngh@gmail.com</div>
            <div class="table-data">Male</div>
            <div class="table-data">A</div>
            <div class="table-data">23-3-2022</div>
        </div>
        <div class="table-row">
            <div class="table-data"><a href="">T0001</a></div>
            <div class="table-data">Nguyen Quoc</div>
            <div class="table-data">Phat</div>
            <div class="table-data">00032163716</div>
            <div class="table-data">ngh@gmail.com</div>
            <div class="table-data">Male</div>
            <div class="table-data">A</div>
            <div class="table-data">23-3-2022</div>
        </div>
        <div class="table-row">
            <div class="table-data"><a href="">T0001</a></div>
            <div class="table-data">Nguyen Quoc</div>
            <div class="table-data">Phat</div>
            <div class="table-data">00032163716</div>
            <div class="table-data">ngh@gmail.com</div>
            <div class="table-data">Male</div>
            <div class="table-data">A</div>
            <div class="table-data">23-3-2022</div>
        </div>
        <div class="table-row">
            <div class="table-data"><a href="">T0001</a></div>
            <div class="table-data">Nguyen Quoc</div>
            <div class="table-data">Phat</div>
            <div class="table-data">00032163716</div>
            <div class="table-data">ngh@gmail.com</div>
            <div class="table-data">Male</div>
            <div class="table-data">A</div>
            <div class="table-data">23-3-2022</div>
        </div>
        <div class="table-row">
            <div class="table-data"><a href="">T0001</a></div>
            <div class="table-data">Nguyen Quoc</div>
            <div class="table-data">Phat</div>
            <div class="table-data">00032163716</div>
            <div class="table-data">ngh@gmail.com</div>
            <div class="table-data">Male</div>
            <div class="table-data">A</div>
            <div class="table-data">23-3-2022</div>
        </div>
        <div class="table-row">
            <div class="table-data"><a href="">T0001</a></div>
            <div class="table-data">Nguyen Quoc</div>
            <div class="table-data">Phat</div>
            <div class="table-data">00032163716</div>
            <div class="table-data">ngh@gmail.com</div>
            <div class="table-data">Male</div>
            <div class="table-data">A</div>
            <div class="table-data">23-3-2022</div>
        </div>
    </div>
    <script>
        const links = document.querySelectorAll('.nav-link');
        links.forEach(link => {
            link.addEventListener('click', function () {
                links.forEach(link => link.classList.remove('active'));
                this.classList.add('active');
            });
        });

    </script>
</body>

</html>