<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/ChangePassWordLibrarian.css">

    <title>Change password librarian</title>

</head>

<body>
    <div id="main">

        <form>
            <div class="form-group">
                <label for="input-oldpassword">Old Password</label>
                <input type="password" class="form-control" id="input-oldpassword" name="oldpassword">
            </div>

            <div class="form-group">
                <label for="input-newpassword">New password</label>
                <input type="password" class="form-control" id="input-newpassword" name="newpassword">
            </div>

            <div class="form-group">
                <label for="input-confirmpassword">Confirm password</label>
                <input type="password" class="form-control" id="input-confirmpassword" name="confirmpassword">
            </div>
            <div class="change">
                <button class="button-change"><i class="fa fa-save"></i> Change password </button>
            </div>
        </form>
    </div>
    <script>

        const links = document.querySelectorAll('.nav-link');
        links.forEach(link => {
            link.addEventListener('click', function () {

                links.forEach(link => link.classList.remove('active'));
                this.classList.add('active');
            });
        });
    </script>
</body>

</html>