 
header{
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
.logo img{
      float: right;
      height: auto;
  
  }

.my-book-shelf {
   font-size: 29px;
   margin-left: 30px;
   margin-top: 29px;
}

.book-effect{
    color: coral;
    font-weight: bolder;
    word-spacing: 2px;
}
/* nav trong header */
.nav{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 23px;
    font-weight: 800;
   

}
/*section trong header */
.choose-section-header a{
    color:   #A9ACC6;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
}
.choose-section-header a:hover {
  color: white;
  background-color: coral;
}
.choose-section-header i{
    margin-right: 7px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.nav-link.active {
    color: coral;
  }